body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #000;
}

main {
    background: url("../images/cava5.png") #bbdefb center no-repeat;
    background-attachment: fixed;
    background-size:contain;
    flex: 1 0 auto;
}

.center-text {
    text-align: center !important;
}

.fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.height-auto {
    height: auto !important;
}

.logo {
    max-width: 6%;
    min-width: 2em;
    height: auto;
}

.nav-button {
    line-height: 20px;
    margin-left: 0 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    text-align: left;
}

.paddingH {
    padding-left: 2em;
    padding-right: 2em;
}

.padding-left {
    padding-left: 0.5em !important;
}

.padding-top0 {
    padding-top: 0;
}

.padding-top2 {
    padding-top: 2%;
}

.padding-top10 {
    padding-top: 6%;
}

.status-btn {
    position: relative;
    top: -20px;
    border-radius: 20%;
    pointer-events: none;
    cursor: default;
}

.status-txt {
    text-align: center;
    position: relative;
    top: -10px;
}