body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    background: url("../images/rainbow.jpg") #dcedc1 center no-repeat;
    flex: 1 0 auto;
}

.center-text {
    text-align: center;
}
.status-btn {
    position: relative;
    top: -50px;
}

/*
colors: #a8e6cf • #dcedc1 • #ffd3b6 • #ffaaa5 • #ff8b94
*/
